* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: rgb(229, 49, 112);
}

.subtitle {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 14px;
}

.profile {
    background-color: black;
    color: white;
    width: calc(100% / 3 - 15px);
    height: 70px;
    float: left;
    margin-right: 15px;
    margin-bottom: 35px;
}

img {
    height: 70px;
    float: left;
    margin-right: 10px;
}

.name, .job, .email {
    margin-top: 5px;
}

.name {
    font-weight: bold;
}

.job, .email {
    font-size: 14px;
}

.email {
    color: dodgerblue;
}